* {
  font-family: "Ubuntu";
  font-size: 18px;
  margin: 0;
  padding: 0;
  min-height: 0;
  border-radius: 8px;
}

window#waybar {
  background: transparent;
  color: #fbf1c7;
}

/* ===== workspaces ===== */

#workspaces {
  background: #282828;
  border-radius: 8px;
}

#workspaces button {
  padding: 0px 10px;
  background: transparent;
  color: #fbf1c7;
  border-radius: 8px;
  box-shadow: none;
}

#workspaces button:hover {
  box-shadow: none;
}

#workspaces button.focused,
#workspaces button.active,
#workspaces button.persistent {
  background-color: #d65d0e;
  color: #282828;
}

#workspaces button.urgent {
  background-color: #cc241d;
  color: #282828;
}

/* ===== common text modules ===== */

#language,
#wireplumber,
#clock,
#network {
  font-family: "Ubuntu";
}

/* ===== common green blocks ===== */

#language,
#wireplumber,
#network,
#clock,
#tray {
  background-color: #d65d0e;
  color: #282828;
}

/* ===== padding ===== */

#language,
#wireplumber,
#clock,
#network {
  padding: 0 10px;
}

/* ===== tray ===== */

#tray {
  border-left: 5px solid #d65d0e;
  border-right: 5px solid #d65d0e;
  border-radius: 8px;
}

/* ===== idle inhibitor ===== */

#idle_inhibitor {
  padding: 0 10px 0 8px;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    padding 0.1s ease;
}

#idle_inhibitor.deactivated {
  background-color: #d65d0e;
  color: #282828;
}

#idle_inhibitor.activated {
  background-color: #d79921;
  color: #282828;
}

#idle_inhibitor:hover {
  background-color: #d79921;
}

#idle_inhibitor:active {
  padding-left: 10px;
  padding-right: 10px;
}

/* ===== gamemode  ===== */
#gamemode {
  background-color: #d65d0e;
  color: #282828;
}

#gamemode {
  background-color: #d79921;
  color: #282828;
}

/* ===== состояния ===== */

#network.disconnected {
  background-color: #cc241d;
  color: #282828;
}
