window {
  font-family: FiraCode Nerd Font;
  font-size: 14pt;
  color: #282828; /* text */
  background-color: transparent;
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  border-style: solid;
  border-radius: 8px;
  border-width: 2px;
  border-color: #d65d0e;
  background-color: #ebdbb2;
  color: #282828;
  margin: 10px;
  transition:
    background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #3c3836;
  color: #ebdbb2;
}

button:focus {
  background-color: #282828;
  color: #ebdbb2;
}

#logout {
  background-image: image(url("./logout-hover.png"));
}
#logout:focus {
  background-image: image(url("./logout.png"));
}
#logout:hover {
  background-image: image(url("./logout.png"));
}

#shutdown {
  background-image: image(url("./power-hover.png"));
}
#shutdown:focus {
  background-image: image(url("./power.png"));
}
#shutdown:hover {
  background-image: image(url("./power.png"));
}

#reboot {
  background-image: image(url("./restart-hover.png"));
}
#reboot:focus {
  background-image: image(url("./restart.png"));
}
#reboot:hover {
  background-image: image(url("./restart.png"));
}
#lock {
  background-image: image(url("./lock-hover.png"));
}
#lock:focus {
  background-image: image(url("./lock.png"));
}
#lock:hover {
  background-image: image(url("./lock.png"));
}
